@model Bouquet.Models.ViewModels.OrderDetailsVM
@using Bouquet.Utility
@using Microsoft.Extensions.Options
@inject IOptions<Bouquet.Utility.StripeSettings> Stripe
<form method="post">
    <input hidden asp-for="OrderHeader.Id" />
    <br />
    <div class="backgroundWhite container">
        <div class="card">
            <div class="card-header my-base-color text-light ml-0 row container">
                <div class="col-12 d-none d-md-block col-md-6 pb-1 pt-1">
                    <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="btn btn-outline-light form-control btn-sm">Back to Orders</a>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">PickUp Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Name</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                                    {
                                        <input asp-for="OrderHeader.Name" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.Name" type="text" class="form-control" readonly />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Phone</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                                    {
                                        <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" readonly />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Address</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                                    {
                                        <input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" readonly />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">City</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                                    {
                                        <input asp-for="OrderHeader.City" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.City" type="text" class="form-control" readonly />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">State</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                                    {
                                        <input asp-for="OrderHeader.State" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.State" type="text" class="form-control" readonly />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Postal Code</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                                    {
                                        <input asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.PostalCode" type="text" class="form-control" readonly />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Email</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.Email" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.Email" type="text" class="form-control" readonly />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Order Date</div>
                                <div class="col-8">
                                    <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" type="text" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Carrier</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                                    {
                                        <input asp-for="OrderHeader.Carrier" id="carrier" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.Carrier" type="text" class="form-control" readonly />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Tracking</div>
                                <div class="col-8">
                                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                                    {
                                        <input asp-for="OrderHeader.TrackingNumber" id="trackingNumber" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.TrackingNumber" type="text" class="form-control" readonly />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">Shipping Date</div>
                                <div class="col-8">
                                    <input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" id="shippingDate" type="text" readonly class="form-control" />
                                </div>
                            </div>

                            @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                            {
                                <div class="row my-1">
                                    <div class="col-4">Transaction ID</div>
                                    <div class="col-8">
                                        <input asp-for="OrderHeader.TransactionId" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    @if (Model.OrderHeader.TransactionId == null)
                                    {
                                        <div class="col-4">Payment Due Date</div>
                                        <div class="col-8">
                                            <input value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()" readonly type="text" class="form-control" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-4">Payment Date</div>
                                        <div class="col-8">
                                            <input value="@Model.OrderHeader.PaymentDate.ToShortDateString()" readonly id="paymentDate" type="text" class="form-control" />
                                        </div>
                                    }

                                </div>
                                <div class="row my-1">
                                    <div class="col-4">Payment Status</div>
                                    <div class="col-8">
                                        <input asp-for="OrderHeader.PaymentStatus" type="text" readonly class="form-control" />
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var details in Model.OrderDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">
                                                <input type="hidden" asp-for="@details.Id" />
                                                <h6 class="my-0 text-primary">@details.Product.Name</h6>
                                                <small class="text-muted">Price : @details.Price</small>
                                                <small class="text-muted">Quantity : @details.Count</small>
                                            </div>
                                            <div class="col-4">
                                                <p class="text-success">@(String.Format("{0:C}",details.Count * details.Price))</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-info">
                                    <div class="row container">
                                        <div class="col-5">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-7 text-right">
                                            <h5 class="text-white">@Model.OrderHeader.OrderTotal CAD</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                            {
                                <br />
                                @if (Model.OrderHeader.OrderStatus == SD.StatusApproved)
                                {
                                    <a asp-action="StartProcessing" asp-route-id="@Model.OrderHeader.Id" class="btn btn-success form-control">Start Processing</a>

                                }
                                @if (Model.OrderHeader.OrderStatus == SD.StatusInProcess)
                                {
                                    <input type="submit" value="Ship Order" onclick="return validateInput()" class="btn btn-success form-control" formaction="/Admin/Order/ShipOrder" formmethod="post" />
                                }
                            }
                            else
                            {
                                <label class="form-control text-center" style="background-color:rebeccapurple;color:white;">@Model.OrderHeader.OrderStatus</label>
                            }

                            @{
                                var OrderTotalForStripe = Model.OrderHeader.OrderTotal * 100;
                            }

                            @if (Model.OrderHeader.PaymentStatus == SD.PaymentStatusDelayedPayment &&
                             Model.OrderHeader.OrderStatus == SD.StatusShipped)
                            {
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="@Stripe.Value.PublishableKey"
                                        data-amount="@OrderTotalForStripe"
                                        data-name="Bouquet"
                                        data-label="Place Order"
                                        data-description="Get Best Flowers, For Less"
                                        data-locale="auto"
                                        data-allow-remember-me="false"                                      
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
                                </script>
                                <script>
                                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                                </script>
                                <button type="submit" value="Place Order" class="btn btn-success form-control">Pay Now</button>
                            }


                            @if (Model.OrderHeader.OrderStatus != SD.StatusRefunded &&
                       Model.OrderHeader.OrderStatus != SD.StatusCancelled &&
                       (User.IsInRole(SD.RoleAdmin) || User.IsInRole(SD.RoleEmployee)))
                            {
                                <a asp-action="CancelOrder" asp-route-id="@Model.OrderHeader.Id" class="btn btn-danger form-control mt-2">Cancel Order</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>






@section Scripts{

    <script>
        function validateInput() {
            var tracking = document.getElementById("trackingNumber").value;
            var carrier = document.getElementById("carrier").value;
            if (tracking.toString() == '') {
                swal("Error", "Please enter tracking number", "error")
                return false;
            }
            else {
                if (carrier.toString() == '') {
                    swal("Error", "Please enter carrier", "error")
                    return false;
                }
                else {
                    return true;
                }
            }
        }


        $(document).ready(function () {
            var shippingDate = document.getElementById("shippingDate");
            if (shippingDate.value == '1/1/0001') {
                shippingDate.value = '';
            }
            var paymentDate = document.getElementById("paymentDate");
            if (paymentDate.value == '1/1/0001') {
                paymentDate.value = '';
            }
        });

    </script>

}