@model Bouquet.Models.ViewModels.OrderDetailsVM
@using Bouquet.Utility
@using Microsoft.Extensions.Options
@inject IOptions<Bouquet.Utility.StripeSettings> Stripe


<section class="form-container shadow5 ">
    <form method="post" autocomplete="off">
        <input hidden asp-for="OrderHeader.Id" />
        <div class="item-header text-header grid-three-column-center mobile-item">
            <div></div>
            <h1 class="item-row-center">Order Details</h1>
            <div class="item-row-right ">
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="p-0 a-btn"><i class="icon-arrow-left-in-square i-btn "></i></a>
            </div>
        </div>
        <div class="item-header text-header grid-three-column-center main-item header-height">
            <div></div>
            <h1 class="item-row-center p-5 font-22">Order Details</h1>
            <div class="item-row p-5 ">
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="p-0 a-btn item-row-right m-r-15"><i class="icon-arrow-left-in-square i-btn "></i></a>
            </div>
        </div>

        @* Main body part*@

        <div class="p-5 m-0 m-h-5 background-bright-grey ">          
            <div class="grid-form-two-column">
                <label class="input-pre-field" asp-for="OrderHeader.Name">Deliver to </label>
                @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                {
                    <input class="input-after-field" id="customerName" type="text" asp-for="OrderHeader.Name">
                }
                else
                {
                    <input class="input-after-field" id="customerName" type="text" asp-for="OrderHeader.Name" readonly>
                }
            </div>
            <div class="grid-form-two-column">
                <label class="input-pre-field" asp-for="OrderHeader.StreetAddress">Address</label>
                @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                {
                    <input class="grid-form-two-column" id="streetAddress" type="text" asp-for="OrderHeader.StreetAddress">
                }
                else
                {
                    <input class="input-after-field" id="streetAddress" type="text" asp-for="OrderHeader.StreetAddress" readonly>
                }
            </div>

            <div class="main-grid-two-columns">
                <div class="grid-form-two-column">
                    <label class="input-pre-field" asp-for="OrderHeader.PhoneNumber">Contact Phone </label>
                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                    {
                        <input class="input-after-field" id="phoneNumber" type="text" asp-for="OrderHeader.PhoneNumber">
                    }
                    else
                    {
                        <input class="input-after-field" id="phoneNumber" type="text" asp-for="OrderHeader.PhoneNumber" readonly>
                    }
                </div>
                <div class="grid-form-two-column">
                    <label class="input-pre-field" asp-for="OrderHeader.ApplicationUser.Email">Email</label>
                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                    {
                        <input class="input-after-field" id="emailUser" type="text" asp-for="OrderHeader.ApplicationUser.Email">
                    }
                    else
                    {
                        <input class="input-after-field" id="emailUser" type="text" asp-for="OrderHeader.ApplicationUser.Email" readonly>
                    }
                </div>
            </div>
            <div class="main-grid-two-columns">
                <div class="grid-form-two-column">
                    <label class="input-pre-field" asp-for="OrderHeader.City">City</label>
                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                    {
                        <input class="input-after-field" id="city" type="text" asp-for="OrderHeader.City">
                    }
                    else
                    {
                        <input class="input-after-field" id="city" type="text" asp-for="OrderHeader.City" readonly>
                    }
                </div>
                <div class="grid-form-two-column">
                    <label class="input-pre-field" asp-for="OrderHeader.State">Province</label>
                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                    {
                        <input class="input-after-field" id="state" type="text" asp-for="OrderHeader.State">
                    }
                    else
                    {
                        <input class="input-after-field" id="state" type="text" asp-for="OrderHeader.State" readonly>
                    }
                </div>

            </div>
            <div class="main-grid-two-columns">
                <div class="grid-form-two-column">
                    <label class="input-pre-field" asp-for="OrderHeader.PostalCode">Postal Code</label>
                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                    {
                        <input class="input-after-field" id="postalCode" type="text" asp-for="OrderHeader.PostalCode">
                    }
                    else
                    {
                        <input class="input-after-field" id="postalCode" type="text" asp-for="OrderHeader.PostalCode" readonly>
                    }
                </div>
                <div class="grid-form-two-column">
                    <label class="input-pre-field">Order Date</label>
                    <input class="input-after-field" type="text" readonly value="@Model.OrderHeader.OrderDate.ToShortDateString()">
                </div>
            </div>
            <div class="main-grid-two-columns">
                <div class="grid-form-two-column">
                    <label class="input-pre-field" asp-for="OrderHeader.Carrier">Carrier</label>
                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                    {
                        <input class="input-after-field" id="carrier" type="text" asp-for="OrderHeader.Carrier">
                    }
                    else
                    {
                        <input class="input-after-field" id="carrier1" type="text" asp-for="OrderHeader.Carrier" readonly>
                    }
                </div>
                <div class="grid-form-two-column">
                    <label class="input-pre-field" asp-for="OrderHeader.TrackingNumber">Tracking #</label>
                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                    {
                        <input class="input-after-field" id="tracking" type="text" asp-for="OrderHeader.TrackingNumber">
                    }
                    else
                    {
                        <input class="input-after-field" id="tracking1" type="text" asp-for="OrderHeader.TrackingNumber" readonly>
                    }
                </div>
            </div>
            <div class="main-grid-two-columns">
                <div class="grid-form-two-column">
                    <label class="input-pre-field">Shipping Date</label>
                    <input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" id="shippingDate" type="text" readonly class="input-after-field" />
                </div>

                @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                {
                    <div class="grid-form-two-column">
                        <label class="input-pre-field">Transaction ID</label>
                        <input class="input-after-field" id="tracking" type="text" readonly asp-for="OrderHeader.TransactionId">
                    </div>

                    @if (Model.OrderHeader.TransactionId == null)
                    {
                        <div class="grid-form-two-column">
                            <label class="input-pre-field">Payment Due</label>
                            <input class="input-after-field" type="text" value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()">
                        </div>
                    }
                    else
                    {
                        <div class="grid-form-two-column">
                            <label class="input-pre-field">Payment Date</label>
                            <input class="input-after-field" type="text" value="@Model.OrderHeader.PaymentDate.ToShortDateString()" readonly id="paymentDate">
                        </div>
                    }
                    <div class="grid-form-two-column">
                        <label class="input-pre-field" asp-for="OrderHeader.PaymentStatus">Payment Status</label>
                        <input class="input-after-field" type="text" readonly asp-for="OrderHeader.PaymentStatus">
                    </div>
                }
            </div>
            <div class="main-grid-two-columns">
                @foreach (var details in Model.OrderDetails)
                {
                    <div class="shadow5 background-medium-grey main-fix-border ">
                        <div class="background-bright-grey p-1 rounded-5">
                            <input type="hidden" asp-for="@details.Id" />                          
                            <div class="grid-cart-summary  m-5">
                                <div class="cart-item21 font-bolder">@details.Product.Name</div>
                                <div class="cart-item61 font-bolder ">$@(details.Product.Price3 * details.Count3 + details.Product.Price2 * details.Count2 + details.Product.Price * details.Count) </div>
                                <div class="cart-item6 text-info">Regular</div>
                                <div class="cart-item3 ">@details.Count</div>
                                <div class="cart-item6 text-warning">Premium</div>
                                <div class="cart-item3 ">@details.Count2</div>
                                <div class="cart-item6 text-main">Luxury</div>
                                <div class="cart-item3 ">@details.Count3</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="background-medium-grey  p-5 m-0 border-3 rounded-5">
                <div class="grid-total background-bright-grey m-0 rounded-3">
                    <div class="total-item1 font-bolder ">
                        Cart Total
                    </div>
                    <div class="total-item1 text-right font-bolder font-14">
                        C$   @Model.OrderHeader.OrderTotal
                    </div>
                    <hr class="width-max"><hr class="width-max">

                    @if (Model.OrderHeader.OrderStatus != SD.StatusRefunded && Model.OrderHeader.OrderStatus != SD.StatusCancelled && (User.IsInRole(SD.RoleAdmin) || User.IsInRole(SD.RoleEmployee)))
                    {
                        <a asp-action="CancelOrder" asp-route-id="@Model.OrderHeader.Id" class="total-item3 btn-wide btn-danger text-center rounded-5">Cancel Order</a>
                    }

                    @if (User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleAdmin))
                    {

                        @if (Model.OrderHeader.OrderStatus == SD.StatusApproved)
                        {
                            <a asp-action="StartProcessing" asp-route-id="@Model.OrderHeader.Id" class="total-item3 btn-wide btn-success text-center rounded-5 m-l-5"> Start Processing </a>

                        }
                        @if (Model.OrderHeader.OrderStatus == SD.StatusInProcess)
                        {
                            <input type="submit" value="Ship Order" onclick="return validateInput()" class="total-item3 btn-wide btn-success text-white text-center rounded-5 m-l-5 p-8" formaction="/Admin/Order/ShipOrder" formmethod="post" />
                        }
                    }
                    else
                    {
                        <label class=" btn-wide btn-secondary text-white text-center p-8 font-14" style="grid-column: 1 / span 2;">Your order is @Model.OrderHeader.OrderStatus</label>
                    }

                    @{
                        var OrderTotalForStripe = Model.OrderHeader.OrderTotal * 100;
                    }

                    @if (Model.OrderHeader.PaymentStatus == SD.PaymentStatusDelayedPayment && Model.OrderHeader.OrderStatus == SD.StatusShipped)
                    {
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="@Stripe.Value.PublishableKey"
                                data-amount="@OrderTotalForStripe"
                                data-name="Bouquet"
                                data-label="Place Order"
                                data-description="Get Best Flowers, For Less"
                                data-locale="auto"
                                data-allow-remember-me="false"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
                        </script>
                        <script>
                            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                        </script>
                        <button type="submit" value="Place Order" class="total-item3 btn-wide btn-success text-center rounded-5 m-l-5">Pay Now</button>
                    }
                </div>
            </div>
        </div>
    </form>
</section>


@section Scripts{
    <script src="~/js/loginMenu.js"></script>
    <script>
        function validateInput() {
            if (document.getElementById("carrier").value === "") {
                swal("Error", "Please enter carrier " , "error")
                return false;
            }
            if (document.getElementById("tracking").value === "") {
                swal("Error", "Please enter tracking number", "error")
                return false;
            }          
        };
        document.addEventListener('DOMContentLoaded', function ()
            {
            var shippingDate = document.getElementById("shippingDate");
            var shippingDate = '1/1/0001';//Test
            if (shippingDate.value == '1/1/0001') {
                shippingDate.value = '';
            }
            var paymentDate = document.getElementById("paymentDate");
            var paymentDate = '1/1/0001';
            if (paymentDate.value == '1/1/0001') {
                paymentDate.value = '';
            }
        });

    </script>

}


