@using Bouquet.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bouquet </title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/icons.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/radioBtn.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper" id="wrapper">
        <header class="header m-0 p-0">
            <section id="headerMobile" class="mobile-item" >
                <div class="header-wave"><img src="~/images/icons/HeaderWave.png" class="no-radius" style="width:100%;max-height:100px; position: sticky; top:0;" alt="Flower"></div>
                <div class="grid-header">
                    <div class="icon-item2"> <i class="icon-logo" onclick="redirectHomePage()"></i></div>
                    <partial name="_LoginPartialMobile" />
                    <div class="icon-item">  <i class="icon-expand" id="iconExpand"></i></div>
                </div>
            </section>
            <section id="headerMain" class="main-item">     
                  <div class="header pattern" >
                    <div class="second-header background-main" ></div>                  
                    <div class="wave-fixed">
                        <div class="header-left"> <i class="icon-logo-main shadow1" style="cursor:pointer;" onclick="redirectHomePage()"></i></div>
                        <div class="header-right" >
                            <div class="grid-five-column-header " id="filterContainer">

                                @if (!User.IsInRole(SD.RoleAdmin) && !User.IsInRole(SD.RoleEmployee))
                                {
                                    <div class="item-row-header "><a asp-area="Customer" asp-controller="Home" asp-action="Contact">contact</a></div>
                                    <div class="item-row-header "><a asp-area="Customer" asp-controller="Home" asp-action="About">about</a></div>
                                }

                                @if (User.IsInRole(SD.RoleEmployee))
                                {
                                    <div class="item-row-header"> </div>
                                }
                                @if (User.IsInRole(SD.RoleIndividual) || User.IsInRole(SD.RoleCompanyUser))
                                {
                                    <div class="item-row-header shadow2 non-drop "><a asp-area="Admin" asp-controller="Order" asp-action="Index" class="non-drop">orders</a></div>
                                }
                                @if (User.IsInRole(SD.RoleAdmin) || User.IsInRole(SD.RoleEmployee))
                                {
                                    <div class="item-row-header shadow2 ">
                                        <div onclick="dropDown(event) " id="employee" class="drop-items">employee</div>
                                    </div>
                                }
                                @if (User.IsInRole(SD.RoleAdmin))
                                {
                                    <div class="item-row-header shadow2 ">
                                        <div onclick="dropDown(event)" id="admin" class="drop-items">admin</div>
                                    </div>
                                }
                                <partial name="_LoginPartial" />
                                @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart) != null && HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart) > 0)
                                {
                                     <div class="icon-item ">
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart);
                                }
                                <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="non-drop">
                                    <div class="text-white font-bold m-0 font-12" style=" text-align: center; "> <i class="icon-cart-add m-t-5 non-drop " id="cartIcon"></i> 
                                        <span  style="width: 20px; position:absolute; transform:translateX(-26px);" id="cartCountMain"> @count</span></div></a>    
                                    </div>
                                }
                                else
                                {
                                    <div class="icon-item ">
                                        <i class="icon-cart-empty m-t-5 non-drop "></i>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>                       
            </section>
        </header>
        <section class="item-shadow-1 options hide z-index10 drop-down-section background-bright-grey " onmouseleave="dropBoxOver(event)" id="employeeOption" style="width:130px; height:220px; z-index:1000; border-radius:0 0 8px 8px;">
            <div class=" text-header text-main">Employee</div>
            <div class="item-container-vertical text-center p-10 font-13">
                <a asp-area="Admin" asp-controller="Company" asp-action="Index" class="p-10 item-drop">Company</a>
                <hr class="p-5" />
                <a asp-area="Admin" asp-controller="User" asp-action="Index" class="p-10 item-drop">Users</a>
                <hr class="p-5" />
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="p-10 item-drop">Orders</a>
            </div>
        </section>
        <section class="item-shadow-1 options hide z-index10 drop-down-section background-bright-grey" onmouseleave="dropBoxOver(event)" id="adminOption" style="width:130px; height:220px; z-index:1000;border-radius:0 0 8px 8px;">
            <div class=" text-header text-main">Admin</div>
            <div class="item-container-vertical text-center p-10 font-13">
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="p-10 item-drop">Category</a>
                <hr class="p-5" />
                <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="p-10 item-drop">Product</a>
                <hr class="p-5" />
                <a asp-area="Admin" asp-controller="EventType" asp-action="Index" class="p-10 item-drop">Event Type</a>
            </div>
        </section>

        <main role="main" class="wave-fixed body-fixed" id="main" >
            <div id="optionWrap"></div>
            <partial name="_Notifications" />
            @RenderBody()
           <div class="main-item p-b-85 "></div>
        </main>
        <footer>
            <section class="footer mobile-item z-index20" id="footerMobile">
                <div class="icon-item"><a asp-area="Customer" asp-controller="Home" asp-action="Index"><i class="icon-home"></i></a> </div>
                @if (User.IsInRole(SD.RoleAdmin) || User.IsInRole(SD.RoleEmployee) || User.IsInRole(SD.RoleIndividual))
                {
                    <div class="icon-item"><a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="icon-settings"></i></a> </div>
                }
                else
                {
                    <div class="icon-item"><i class="icon-settings"></i></div>
                }
                <div class="icon-item"><a asp-area="Identity" asp-controller="Account" asp-action="Login"><i class="icon-user"></i></a> </div>
                <div class="icon-item"><a asp-area="Admin" asp-controller="Order" asp-action="Index"><i class="icon-details"></i></a></div>

                @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart) != null && HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart) > 0)
                {
                    <div class="icon-item">
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index">
                            @{
                                 var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart);
                            } <div class="text-white font-bold m-0 font-12" style=" text-align: center; "> <i class="icon-cart-add" id="cartIcon"></i><span style="width: 20px; position:absolute; transform:translateX(-26px);"  id="cartCountMobile"> @count</span></div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="icon-item">
                        <i class="icon-cart-empty"></i>
                    </div>
                }
            </section>
            <section class="footer-main text-center main-item pattern" id="footerMain">
                <p class=" pattern font-16">NCraft 2021</p>
            </section>
        </footer>       
    </div>
    <script type="text/javascript" src="~/js/mobile.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
