@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="p-h-5">
    @if (Model.CurrentLogins?.Count > 0)
    {


        <div class="font-18 p-10 text-center">Registered logins</div>
        <hr />
        <div class="grid-two-column-equal m-t-10">
            @foreach (var login in Model.CurrentLogins)
            {

                <div class="item-row-center m-t-5  rounded-5  text-info font-bolder font-18">@login.ProviderDisplayName</div>
                <div class="item-row-center">
                    @if (Model.ShowRemoveButton)
                    {
                        <form id="remove-login" asp-page-handler="RemoveLogin" method="post">
                            <div>
                                <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                <button type="submit" class="btn-wide btn-danger text-center rounded-5" title="Remove this @login.ProviderDisplayName login from your account">Remove</button>
                            </div>
                        </form>
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </div>

            }
        </div>
    }
    @if (Model.OtherLogins?.Count > 0)
    {
        <hr />
        <div class="font-18 p-10 text-center">Add another service to log in</div>
        <hr />
        <form id="link-login-form" asp-page-handler="LinkLogin" method="post">
            <div id="socialLoginList" class="grid-two-column-equal m-t-10">

                @foreach (var provider in Model.OtherLogins)
                {
                    <button id="link-login-button" type="submit" class="btn-wide btn-secondary text-center rounded-5 m-b-5" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                }

            </div>
        </form>
    }
</div>