@model IEnumerable<Bouquet.Models.Product>
@using Bouquet.Utility;

<div id="main-body" class=" main-body  ">
    @if (User.IsInRole(SD.RoleIndividual))
    {
        <section class="item-shadow-1 options five-elements hide z-index10 mobile-item " id="options">
            <div class="item-header text-header">Customer Main Menu</div>
            <i class="icon-cross-small align-end" id="icon-cross-menu"></i>
            <div class="item-container-vertical">
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            Your Orders
                        </div>
                        <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="icon-arrow-right align-end p-0"></a>
                    </div>
                </div>
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            Shipping and Delivery
                        </div>
                        <i class="icon-arrow-right align-end" id='option05' onclick="processOption05()"></i>
                    </div>
                </div>
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            Payment Methods
                        </div>
                        <i class="icon-arrow-right align-end" id='option06' onclick="processOption06()"></i>
                    </div>
                </div>
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            About Us
                        </div>
                        <i class="icon-arrow-right align-end" id='option07' onclick="processOption07()"></i>
                    </div>
                </div>
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            Contact Us
                        </div>
                        <i class="icon-arrow-right align-end" id='option04' onclick="processOption04()"></i>
                    </div>
                </div>
                <hr>
            </div>
        </section>
    }
    else if (User.IsInRole(SD.RoleAdmin))
    {
        <section class="item-shadow-1 options two-elements hide z-index10 mobile-item" id="options">
            <div class="item-header text-header">Main Menu</div>
            <i class="icon-cross-small align-end" id="icon-cross-menu"></i>

            <div class="item-container-vertical">
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            Admin and Employee Section
                        </div>
                        <i class="icon-arrow-right align-end" id='option01' onclick="processOption01()"></i>
                    </div>
                </div>
                <hr>
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            Admin Section
                        </div>
                        <i class="icon-arrow-right align-end" id='option02' onclick="processOption02()"></i>
                    </div>
                </div>
                <hr>
                <hr>
            </div>
        </section>
    }
    else if (User.IsInRole(SD.RoleEmployee))
    {
        <section class="item-shadow-1 options one-elements hide z-index10 mobile-item" id="options">
            <div class="item-header text-header">Main Menu</div>
            <i class="icon-cross-small align-end" id="icon-cross-menu"></i>

            <div class="item-container-vertical">
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            Employee Section
                        </div>
                        <i class="icon-arrow-right align-end" id='option01' onclick="processOption01()"></i>
                    </div>
                </div>
                <hr>
                <hr>
            </div>
        </section>
    }
    else
    {
        <section class="item-shadow-1 options four-elements hide z-index10 mobile-item " id="options">
            <div class="item-header text-header">Main Menu</div>
            <i class="icon-cross-small align-end" id="icon-cross-menu"></i>
            <div class="item-container-vertical">
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            Shipping and Delivery
                        </div>
                        <i class="icon-arrow-right align-end" id='option05' onclick="processOption05()"></i>
                    </div>
                </div>
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            Payment Methods
                        </div>
                        <i class="icon-arrow-right align-end" id='option06' onclick="processOption06()"></i>
                    </div>
                </div>
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            About Us
                        </div>
                        <i class="icon-arrow-right align-end" id='option07' onclick="processOption07()"></i>
                    </div>
                </div>
                <div class="text-description container2">
                    <div class="grid-two-column-right">
                        <div class="p-10 justify-left">
                            Contact Us
                        </div>
                        <i class="icon-arrow-right align-end" id='option04' onclick="processOption04()"></i>
                    </div>
                </div>
                <hr>
            </div>
        </section>
    }
    <section class="item-shadow-1 options three-elements hide z-index10 mobile-item font-mobile-11" id="extra-options01">
        <div class="item-header text-header">Company & Users</div>
        <i class="icon-cross-small align-end" id="icon-cross-small01"></i>
        <div class="item-container-vertical">
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Company
                    </div>
                    <a asp-area="Admin" asp-controller="Company" asp-action="Index" class="icon-arrow-right align-end p-0">Company</a>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Users
                    </div>
                    <a class="icon-arrow-right align-end p-0" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Orders
                    </div>
                    <a class="icon-arrow-right align-end p-0" asp-area="Admin" asp-controller="Order" asp-action="Index">Orders</a>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="item-shadow-1 options three-elements hide z-index10 mobile-item font-mobile-11" id="extra-options02">
        <div class="item-header text-header">Admin Section</div>
        <i class="icon-cross-small align-end" id="icon-cross-small02"></i>

        <div class="item-container-vertical">
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Category
                    </div>
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="icon-arrow-right align-end p-0"></a>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Product
                    </div>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="icon-arrow-right align-end p-0"></a>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Event Type
                    </div>
                    <a asp-area="Admin" asp-controller="EventType" asp-action="Index" class="icon-arrow-right align-end p-0"></a>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section class="item-shadow-1 options four-elements hide z-index10 mobile-item font-mobile-11" id="extra-options03">
        <div class="item-header text-header">Customer Menu</div>
        <i class="icon-cross-small align-end" id="icon-cross-small03"></i>
        <div class="item-container-vertical">
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Your Orders
                    </div>
                    <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="icon-arrow-right align-end p-0"></a>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Our Philosophy
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        About Us
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Contact Us
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="item-shadow-1 options five-elements hide z-index10 mobile-item font-mobile-11" id="extraFilters">
        <div class="item-header text-header">More Filters</div>
        <i class="icon-cross-small align-end" id="iconCrossFiters" onclick="processCrossFilter()"></i>

        <div class="item-container-vertical">
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Romance
                    </div>
                    <i class="icon-arrow-right align-end" onclick="filterByElement(event)" id="romance"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Special
                    </div>
                    <i class="icon-arrow-right align-end" onclick="filterByElement(event)" id="special"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Birthday
                    </div>
                    <i class="icon-arrow-right align-end" onclick="filterByElement(event)" id="birthday"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Decorations
                    </div>
                    <i class="icon-arrow-right align-end" onclick="filterByElement(event)" id="decoration"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        All
                    </div>
                    <i class="icon-arrow-right align-end" onclick="filterByElement(event)" id="all"></i>
                </div>
            </div>
            <hr>
        </div>
    </section>

    @*  CONTACT US*@
    <section class="item-shadow-1 options hide z-index10 mobile-item font-mobile-11" id="extra-options04">
        <div class="item-header text-header">Contact Us</div>
        <i class="icon-cross-small align-end" id="icon-cross-small04"></i>
        <div class="item-container-vertical text-center p-15">
            <div class="font-16 text-info">Location </div>
            <hr class="m-0 m-t-10" />
            <p class=" font-13 ">
                @Html.Raw(SDextra.ContactAddress)
            </p>
            <hr class="m-0 p-t-10" />
            <div class="font-16 text-info">Phone </div>
            <hr class="m-0 m-t-10" />
            <p class=" font-13 ">
                @Html.Raw(SDextra.ContactPhone)
            </p>
            <hr class="m-0 p-t-10" />
            <div class="font-16 text-info">Email </div>
            <hr class="m-0 m-t-10" />
            <p class=" font-13 ">
                @Html.Raw(SDextra.ContactEmail)
            </p>
        </div>
    </section>

    @*  SHIPPING AND DELIVERY*@
    <section class="item-shadow-1 options hide z-index10 mobile-item font-mobile-11" id="extra-options05">
        <div class="item-header text-header">Shipping and Delivery</div>
        <i class="icon-cross-small align-end" id="icon-cross-small05"></i>
        <div class="item-container-vertical text-center p-15">

            <p class=" font-12 text-left">
                @Html.Raw(SDextra.Shipping)
            </p>
        </div>
    </section>

    @*  PAYMENT METHODS*@
    <section class="item-shadow-1 options hide z-index10 mobile-item font-mobile-11" id="extra-options06">
        <div class="item-header text-header">Payment Methods</div>
        <i class="icon-cross-small align-end" id="icon-cross-small06"></i>
        <div class="item-container-vertical text-center p-20">
            <div class="font-16 text-info">Payments </div>
            <hr class="m-0 m-t-10" />
            <p class=" font-13 text-left">
                @Html.Raw(SDextra.Payment)
            </p>
        </div>
    </section>

    @*  ABOUT US*@
    <section class="item-shadow-1 options hide z-index10 mobile-item font-mobile-11" id="extra-options07">
        <div class="item-header text-header">About Us</div>
        <i class="icon-cross-small align-end" id="icon-cross-small07"></i>
        <div class="item-container-vertical text-center p-20">
            <div class="font-16 text-info">NCraft </div>
            <hr class="m-0 m-t-10" />
            <p class=" font-mobile-11 text-left">
                @Html.Raw(SDextra.About)

            </p>
        </div>
    </section>
  
<section class=" grid-eight-column-filter-main main-item " id="filterOption">
    <div class="item-row-filter-main " onclick="filterByElement(event)" id="valentine">valentine</div>
    <div class="item-row-filter-main" onclick="filterByElement(event)" id="year">new year</div>
    <div class="item-row-filter-main " onclick="filterByElement(event)" id="craft">crafts</div>
    <div class="item-row-filter-main " onclick="filterByElement(event)" id="decor">decor</div>
    <div class="item-row-filter-main" onclick="filterByElement(event)" id="plants">plants</div>
    <div class="item-row-filter-main " onclick="filterByElement(event)" id="birthday">birthday</div>
    <div class="item-row-filter-main" onclick="filterByElement(event)" id="romance">romance</div>
    <div class="item-row-filter-main" onclick="filterByElement(event)" id="all">all</div>
</section>
    @* //Filter section*@

    <div class="grid-six-column-filter mobile-item" id="filterContainer">
        <div class="item-row-filter" onclick="filterByElement(event)" id="all">all</div>
        <div class="item-row-filter" onclick="filterByElement(event)" id="year">new year </div>
        <div class="item-row-filter" onclick="filterByElement(event)" id="craft">crafts</div>
        <div class="item-row-filter" onclick="filterByElement(event)" id="decor">decor</div>
        <div class="item-row-filter" onclick="filterByElement(event)" id="plants">plants</div>
        <div class="item-row-filter extra-item-mobile m-0" onclick="filterMore()" id="filterMore"> more </div>      
    </div> 

    <div class="loader" id="loader"></div>
    <!-- Keep all products container -->  

<div class="card-container-height">
   
    <div class="card-container-fix">
        <section class="card-container " id="cardContainer"> </section>
        <div id="noItemsInfo"></div>
        <div class="pagination main-item text-center background-bright-grey " style="position:relative;top:0px;min-height:60px;" id="paginationMain"> </div>
    </div>
</div>

</div>

@section Scripts{
    <script src="~/js/index.js"></script>
    <script src="~/js/menu.js"></script>       
}
