@model IEnumerable<Bouquet.Models.Product>
@using Bouquet.Utility;

<div id="main-body">



  @*  <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
    <a class="dropdown-item" asp-area="Admin" asp-controller="EventType" asp-action="Index">Event Type</a>
    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>*@

    <section class="item-shadow-1 options hide" id="options">
        <div class="item-header text-header">Menu</div>
        <i class="icon-cross-small align-end" id="icon-cross-menu"></i>
        <div class="item-container-vertical">
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Help
                    </div>
                    <i class="icon-arrow-right align-end" id='option01'></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Admin Section
                    </div>
                    <i class="icon-arrow-right align-end" id='option02'></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Customer Section
                    </div>
                    <i class="icon-arrow-right align-end" id='option03'></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Section 04
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>

            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Section 05
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Section 06
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Section 07
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Section 08
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section class="item-shadow-1 options two-elements hide" id="extra-options01">
        <div class="item-header text-header">Sub Menu 01</div>
        <i class="icon-cross-small align-end" id="icon-cross-small01"></i>
        <div class="item-container-vertical">
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Events
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Products
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section class="item-shadow-1 options three-elements hide" id="extra-options02">
        <div class="item-header text-header">Admin Section</div>
        <i class="icon-cross-small align-end" id="icon-cross-small02"></i>

        <div class="item-container-vertical">
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Category
                    </div>
                     <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="icon-arrow-right align-end"></a>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Product
                    </div>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="icon-arrow-right align-end"></a>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                       Event Type
                    </div>
                    <a asp-area="Admin" asp-controller="EventType" asp-action="Index" class="icon-arrow-right align-end"></a>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section class="item-shadow-1 options four-elements hide" id="extra-options03">
        <div class="item-header text-header">Sub Menu 03</div>
        <i class="icon-cross-small align-end" id="icon-cross-small03"></i>

        <div class="item-container-vertical">
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Events
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Products
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Services
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
            <div class="text-description container2">
                <div class="grid-two-column-right">
                    <div class="p-10 justify-left">
                        Global
                    </div>
                    <i class="icon-arrow-right align-end"></i>
                </div>
            </div>
            <hr>
        </div>
    </section>


    <section class="filter-container main-container" id="filter-container">
        <!-- <label for="search-bouquet"></label> -->
        <input type="search" placeholder="Search bouquet title or keyword" id="search-bouquet"
               class="item-8 search-area">
        <button class="item-3 btn-search btn-default">
            <i class="icon-search"></i>
            Search
        </button>
    </section>
    <!-- Keep all products container -->
    <section class="card-container main-container" id="card-container">

        @foreach (var product in Model)
        {

            <div>
                @{
                    string myString = "" + SD.ConvertToRawHtml(@product.Description);
                }

                <div class="card w3-container">
                    <i class="icon-heart-active"></i>
                    <div class="bouquet-image " id="image01">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@product.Id">
                            <img src="@product.ImageUrl" class="w3-image card-image" style="width:100%" alt="Flower">
                        </a>
                    </div>
                    <div class="card-info">
                        <div class="text-name">@product.Name</div>
                        <div class="text-name">$ @product.Price</div>
                    </div>
                </div>
            </div>

        }

        <div class="bottom-fill"></div>
    </section>




    @* <div class="btn-group ml-1 mr-1 col-12 " id="header-top">
            <a class="btn   col-2 " id="rust" asp-action="Index" asp-route-id="Roses">Roses</a>
            <a class="btn  my-button-return col-2 " id="2" asp-action="Index" asp-route-id="Bouquets">Bouquets</a>
            <a class="btn  my-button-return col-2" id="3" asp-action="Index" asp-route-id="Anniversary">Anniversary</a>
            <a class="btn  my-button-return col-2" id="4" asp-action="Index" asp-route-id="Birthday">Birthday</a>
            <a class="btn  my-button-return col-2 " id="6" asp-action="Index" asp-route-id="Valentine">Valentine</a>
            <a class="btn  my-button-return col-2 " id="5" asp-action="Index" asp-route-id="">All</a>
        </div>
        <div id="result"></div>*@

    @* <div class="row justify-content-center">

        @foreach (var product in Model)
        {

            <div class="trest m-1 mr-0">
                @{
                    string myString = "" + SD.ConvertToRawHtml(@product.Description);
                }

                <div class="card-body p-1 pb-0 m-0 my-shadow-transp" style=" border-radius: .5rem !important; ">
                    <label class=" p-2 text-center col-12 m-0 font-adjust my-font" style="font-weight: 300;font-size:22px; color: white;">
                        @product.Name
                    </label>
                    <div class="flw">
                        <div class="d-flex justify-content-between align-items-center">
                            <img class="frameContainer card-img-top " src="@product.ImageUrl" alt="Card Image" />

                        </div>
                    </div>
                    <div class="description">
                        <div class="d-flex justify-content-center ">
                            <textarea style="font-size:14px; border-radius:5px; " class="p-1 mt-1 text-center"> @myString</textarea>
                        </div>
                    </div>
                    <div class=" description text-center my-base-color pt-1 pb-1 col-12 row m-0 mt-1 my-no-shadows text-white" style="font-size: 16px; font-weight: 600;background-color:white; border-radius:3px;">
                        <div class="col-8 mt-1 ">from $ @product.Price</div>
                        <div class="col-4">
                            <a class="btn my-button-success  text-white ml-2 mb-0 " asp-action="Details" asp-controller="Home" asp-route-id="@product.Id">Add</a>
                        </div>

                    </div>
                </div>
            </div>

            }
        </div>*@
</div>

@section Scripts{
    <script src="~/js/index.js"></script>
    <script src="~/js/menu.js"></script>
}
